@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  font-family: 'Poppins';
}
html{
  scroll-behavior: smooth;
}
   /* Style the scrollbar track */
   ::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #555; /* Color of the thumb */
    border-radius: 3px; /* Rounded corners of the thumb */
}

/* Style the scrollbar track when the user hovers over it */


