
.active{
    color: white;
    background-color: white;
    color: black;
}
.custom_bg{
    /* background-color: #00401A; */
    background-color: #7b91ad;
   
}
.custom_nav{
    font-family: poppins;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: white;
    padding: 10px;
}
.custom_nav:hover{
    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;
}
.home_nav{
    margin-left: 280px;
}
.custom_signup{
    background-color: #00401A;
}
.custom_login{
    background-color: #00401A;
}
.buttons{
    margin-left: 100px;
}

@media(max-width: 767px){
    .desktop_view{
        display: none;
    }
    .mobile_view{
        display: block;
    }
}

@media (min-width: 768px){
    .mobile_view{
        display: none;
    }
    .desktop_view{
        display: block;
        transition: 1s ease-in;
    }

}