.hero_bg{
    background-color: #045517;
    height: 400px;
}
.hero_img{
    margin-top: 23px;
    width: 540px;
}
.custom_hero_title{
    font-size:36px;
    font-weight: 700;
    font-style: normal;
}
.icon:hover{
    color: yellow;
}

@media (max-width: 767px) {

    .hero_img{
        display: none;
    }
    .custom_hero_title{
        font-size: 35px;
        margin-top: 40px;
    }
}